---
import Footer from "../footer.astro";

interface Props {
  title: string;
  hrefname: string;
}

const { title, hrefname } = Astro.props;
---

<div>
  <a href={hrefname} target="_blank">
    <slot />
    <Footer title={title} hrefname={hrefname} />
  </a>
</div>
