---
import CardLayout from "./cardLayout.astro";
---

<CardLayout title="collect" hrefname="collect">
  <div class="collect"></div>
</CardLayout>

<style>
  .collect {
    width: 40rem;
    height: 30rem;
    margin: 0 auto;
    position: relative;
  }

  .collect::before {
    width: 40rem;
    height: 20rem;
    content: "";
    position: absolute;
    top: 5rem;
    left: 0;
    background: 
    
    
      /**********watch**********/
      radial-gradient(circle, black 50%, transparent 50.5%) 89.3% 50%/ 0.5rem 0.5rem,
      linear-gradient(45deg, transparent 40%, black 45%, transparent 50%) 89.3%
        48% / 1rem 0.6rem,
      linear-gradient(black, black) 89% 52% / 0.1rem 0.9rem,
      radial-gradient(
          circle,
          lightgrey 40%,
          black 40%,
          black 50%,
          transparent 50.5%
        )
        93% 50%/ 4rem 4rem,
      radial-gradient(ellipse at left, black 50%, transparent 50.5%) 93.6% 50.6% /
        0.8rem 0.8rem,
      repeating-linear-gradient(180deg, lightgrey 0 5%, transparent 0 15%) 89.9%
        75% / 1rem 4rem,
      linear-gradient(black, black) 90.3% 75% / 1.4rem 8rem,
      repeating-linear-gradient(180deg, lightgrey 0 5%, transparent 0 15%) 89.9%
        25% / 1rem 4rem,
      linear-gradient(black, black) 89.1% 87.2% / 0.3rem 0.8rem,
      linear-gradient(black, black) 90.3% 25% / 1.4rem 8rem,
      linear-gradient(teal, teal) 89.8% 88% / 1rem 0.8rem,
      linear-gradient(black, black) 90.3% 89% / 1.4rem 1rem,
      /**********laptop**********/ /*body*/ linear-gradient(darkgrey, darkgrey)
        63% 50% / 1rem 1rem,
      linear-gradient(darkgrey, darkgrey) 66.5% 54% / 1rem 1rem,
      linear-gradient(lightgrey, lightgrey) 65.5% 52% / 3rem 3rem,
      linear-gradient(transparent 0%, black 50%, transparent 100%) 69.5% 52.5% /
        10rem 12rem,
      linear-gradient(black, black) 69.5% 54% / 10rem 13rem,
      /*left hinge*/ linear-gradient(lightgrey, lightgrey) 51.5% 54% / 0.6rem
        12rem,
      /*right hinge*/ linear-gradient(black, black) 78.2% 54% / 0.6rem 12rem,
      /*circle pads left*/
        radial-gradient(ellipse at right, lightgrey 50%, transparent 50.5%)
        51.2% 19.4% / 0.8rem 1.8rem,
      /*circle pads left*/
        radial-gradient(ellipse at right, lightgrey 50%, transparent 50.5%)
        51.2% 83.7% / 0.8rem 1.8rem,
      /*circle pads right*/
        radial-gradient(ellipse at left, black 50%, transparent 50.5%) 78.6%
        83.7% / 0.8rem 1.8rem,
      /*circle pads right*/
        radial-gradient(ellipse at left, black 50%, transparent 50.5%) 78.6%
        19.5% / 0.8rem 1.8rem,
      /**********Ipad button**********/
        radial-gradient(
          ellipse at right,
          transparent 40%,
          #f4f4f4 50%,
          transparent 50.5%
        )
        34% 74.3% /0.5rem 1rem,
      radial-gradient(circle, #f4f4f4 50%, transparent 50.5%) 34.9% 73.4% /0.2rem
        0.2rem,
      /**********Ipad Screen**********/ /*body*/
        linear-gradient(#f4f4f4, #f4f4f4) 31.8% 51% / 6.5rem 7.8rem,
      /**********Ipad**********/ /*body*/ linear-gradient(black, black) 31.5%
        54% / 7rem 10rem,
      /*left hinge*/ linear-gradient(black, black) 25.1% 54% / 0.6rem 8.7rem,
      /*right hinge*/ linear-gradient(black, black) 44.1% 54% / 0.6rem 8.7rem,
      /*circle pads left*/
        radial-gradient(ellipse at right, black 50%, transparent 50.5%) 24.7%
        28.3% / 0.8rem 1.8rem,
      /*circle pads left*/
        radial-gradient(ellipse at right, black 50%, transparent 50.5%) 24.7%
        76.2% / 0.8rem 1.8rem,
      /*circle pads right*/
        radial-gradient(ellipse at left, black 50%, transparent 50.5%) 44.3%
        76.2% / 0.8rem 1.8rem,
      /*circle pads right*/
        radial-gradient(ellipse at left, black 50%, transparent 50.5%) 44.3%
        28.3% / 0.8rem 1.8rem,
      /**********Phone screen**********/ /*body*/
        linear-gradient(#f4f4f4, #f4f4f4) 10.2% 54% / 3.8rem 7rem,
      /*left hinge*/ linear-gradient(#f4f4f4, #f4f4f4) 9.5% 53% / 0.6rem 5.8rem,
      /*right hinge*/ linear-gradient(#f4f4f4, #f4f4f4) 17.1% 53% / 0.6rem
        5.8rem,
      /*circle pads left*/
        radial-gradient(ellipse at right, #f4f4f4 50%, transparent 50.5%) 9%
        37.2% / 0.5rem 1.5rem,
      /*circle pads left*/
        radial-gradient(ellipse at right, #f4f4f4 50%, transparent 50.5%) 9%
        68.7% / 0.8rem 1.8rem,
      /*circle pads right*/
        radial-gradient(ellipse at left, #f4f4f4 50%, transparent 50.5%) 17.3%
        68.7% / 0.8rem 1.8rem,
      /*circle pads right*/
        radial-gradient(ellipse at left, #f4f4f4 50%, transparent 50.5%) 17.3%
        37.2% / 0.8rem 1.8rem,
      /**********Phone**********/ /*body*/ linear-gradient(black, black) 10.5%
        54% / 3.5rem 8rem,
      /*left hinge*/ linear-gradient(black, black) 8.5% 53% / 0.6rem 6.7rem,
      /*right hinge*/ linear-gradient(black, black) 18.3% 53% / 0.6rem 6.7rem,
      /*circle pads left*/
        radial-gradient(ellipse at right, black 50%, transparent 50.5%) 8% 34.2% /
        0.8rem 1.8rem,
      /*circle pads left*/
        radial-gradient(ellipse at right, black 50%, transparent 50.5%) 8% 71% /
        0.8rem 1.8rem,
      /*circle pads right*/
        radial-gradient(ellipse at left, black 50%, transparent 50.5%) 18.5% 71% /
        0.8rem 1.8rem,
      /*circle pads right*/
        radial-gradient(ellipse at left, black 50%, transparent 50.5%) 18.5%
        34.2% / 0.8rem 1.8rem;
    background-repeat: no-repeat;
  }
</style>
