---
import CardLayout from "./cardLayout.astro";
---

<CardLayout
  title="crawl"
  hrefname="https://codepen.io/Olajide-Seun/pen/MWZPovG"
>
  <div class="crawl"></div>
</CardLayout>

<style>
  .crawl {
    width: 30rem;
    height: 30rem;
    margin: 0px auto;
    position: relative;
  }

  .crawl::before {
    content: "";
    width: 25rem;
    height: 20rem;
    position: absolute;
    top: 5rem;
    left: 0;
    background:
 
  /*Antenna*/
      radial-gradient(
          ellipse at 40px 50px,
          transparent 40%,
          black 44%,
          transparent 46%
        )
        68% 24% / 2rem 6rem,
      /**dot**/ radial-gradient(ellipse, black 50%, transparent 50%) 22.5% 45% /
        0.3rem 0.3rem,
      radial-gradient(ellipse, black 50%, transparent 50%) 25.5% 44% / 0.5rem
        0.5rem,
      radial-gradient(ellipse, black 50%, transparent 50%) 30.5% 43% / 0.5rem
        0.5rem,
      radial-gradient(ellipse, black 50%, transparent 50%) 37.5% 42% / 0.6rem
        0.6rem,
      radial-gradient(ellipse, black 50%, transparent 50%) 45% 42% / 0.8rem
        0.8rem,
      radial-gradient(ellipse, black 50%, transparent 50%) 54% 42% / 0.8rem
        0.8rem,
      radial-gradient(ellipse, black 50%, transparent 50%) 62% 43% / 0.7rem
        0.7rem,
      radial-gradient(ellipse, black 50%, transparent 50%) 73% 43% / 1.8rem
        1.8rem,
      radial-gradient(
          ellipse at center,
          salmon 25.5%,
          gold 50%,
          transparent 50.5%
        )
        76% 40% / 4.4rem 5rem,
      radial-gradient(
          ellipse at center,
          black 25.5%,
          black 50%,
          transparent 50.5%
        )
        76% 38% / 4.5rem 5.5rem,
      radial-gradient(
          ellipse at center,
          salmon 25.5%,
          gold 50%,
          transparent 50.5%
        )
        68% 39% / 4.7rem 5.5rem,
      radial-gradient(
          ellipse at center,
          black 25.5%,
          black 50%,
          transparent 50.5%
        )
        68% 37% / 5rem 6rem,
      radial-gradient(ellipse, salmon 25.5%, gold 50%, transparent 50.5%) 58%
        37% / 5rem 6rem,
      radial-gradient(ellipse, black 25.5%, black 50%, transparent 50.5%) 58%
        35% / 5.5rem 6.5rem,
      radial-gradient(ellipse, salmon 25.5%, gold 50%, transparent 50.5%) 48%
        37% / 4.7rem 5.5rem,
      radial-gradient(ellipse, black 25.5%, black 50%, transparent 50.5%) 48%
        35% / 5rem 6rem,
      radial-gradient(ellipse, salmon 25.5%, gold 50%, transparent 50.5%) 38%
        37% / 4.7rem 5.5rem,
      radial-gradient(ellipse, black 25.5%, black 50%, transparent 50.5%) 38%
        35% / 5rem 6rem,
      radial-gradient(ellipse, salmon 25.5%, gold 50%, transparent 50.5%) 30%
        38% / 3.7rem 4.5rem,
      radial-gradient(ellipse, black 25.5%, black 50%, transparent 50.5%) 30%
        36% / 4rem 5rem,
      radial-gradient(ellipse, salmon 25.5%, gold 50%, transparent 50.5%) 25.5%
        39.9% / 3.5rem 4.3rem,
      radial-gradient(ellipse, black 25.5%, black 50%, transparent 50.5%) 25%
        39% / 4rem 4.5rem,
      radial-gradient(ellipse, salmon 25.5%, gold 50%, transparent 50.5%) 22%
        41% / 2.5rem 3.5rem,
      radial-gradient(
          ellipse at 100% 40%,
          black 25%,
          black 50%,
          transparent 50.5%
        )
        19% 44% / 1.5rem 2rem,
      /*head*/
        radial-gradient(
          ellipse at left,
          black 25.5%,
          black 50%,
          transparent 50.5%
        )
        80% 43.2% / 1rem 2rem,
      /*Antenna*/
        radial-gradient(
          ellipse at 40px 50px,
          transparent 40%,
          black 44%,
          transparent 46%
        )
        75% 20% / 2rem 6rem,
      /*leaf*/
        linear-gradient(
          5deg,
          transparent 45%,
          yellowgreen 45.5%,
          darkgreen 50%,
          transparent 50.5%
        )
        50% 55% / 25rem 20rem;
    background-repeat: no-repeat;
  }
</style>
