---
import CardLayout from "./cardLayout.astro";
---

<CardLayout title="fall" hrefname="https://codepen.io/Olajide-Seun/pen/OJrwZba">
  <div class="pumpkin"></div>
</CardLayout>

<style>
  .pumpkin {
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    position: relative;
  }

  .pumpkin::after {
    content: "";
    width: 30rem;
    height: 30rem;
    background-image: radial-gradient(
        ellipse at top,
        #ba530e 50%,
        #97440b 70%,
        transparent 70.5%
      ),
      linear-gradient(to bottom right, transparent 50%, #97440b 0),
      linear-gradient(to top right, #97440b 50%, transparent 0),
      linear-gradient(to bottom right, transparent 50%, #97440b 0),
      linear-gradient(to top right, #97440b 50%, transparent 0),
      radial-gradient(ellipse, rgba(255, 219, 68, 0.3) 50%, transparent 54.7%),
      radial-gradient(
        ellipse,
        rgba(255, 117, 24, 1) 50%,
        #ba530e 52%,
        transparent 54.7%
      ),
      radial-gradient(ellipse, rgba(255, 219, 68, 0.3) 50%, transparent 54.7%),
      radial-gradient(ellipse, rgba(255, 219, 68, 0.3) 50%, transparent 54.7%),
      radial-gradient(
        ellipse,
        rgba(255, 117, 24, 1) 50%,
        #ba530e 52%,
        transparent 54.7%
      ),
      radial-gradient(ellipse, rgba(255, 219, 68, 0.3) 50%, transparent 54.7%),
      radial-gradient(
        ellipse,
        rgba(255, 117, 24, 1) 50%,
        #ba530e 52%,
        transparent 54.7%
      ),
      radial-gradient(
        ellipse,
        rgba(255, 117, 24, 1) 50%,
        #ba530e 52%,
        transparent 54.7%
      ),
      radial-gradient(ellipse, rgba(255, 219, 68, 0.3) 50%, transparent 54.7%),
      radial-gradient(
        ellipse,
        rgba(255, 117, 24, 1) 50%,
        #ba530e 52%,
        transparent 54.7%
      );

    background-size:
      6rem 2rem,
      1rem 1.5rem,
      /*triangle*/ 1rem 1.5rem,
      /*triangle*/ 1rem 1.5rem,
      /*triangle*/ 1rem 1.5rem,
      /*triangle*/ 5rem 9rem,
      /*center ellipse shade*/ 6rem 10rem,
      /*center ellipse*/ 6rem 8rem,
      /*first ellipse shade*/ 6rem 8rem,
      /*fouth ellipse shade*/ 6rem 9.5rem,
      /*Second ellipse*/ 6rem 7rem,
      /*first left ellipse shade*/ 6rem 9rem,
      /*first ellipse*/ 6rem 9.5rem,
      /*fouth ellipse*/ 6rem 8rem,
      /*fifth shade ellipse*/ 6rem 9rem; /*fifth ellipse*/

    background-position:
      28% 55%,
      40% 45%,
      /*triangle*/ 43% 45%,
      /*triangle*/ 20% 45%,
      /*triangle*/ 23.5% 45%,
      /*triangle*/ 28% 52%,
      /*center ellipse*/ 27% 50%,
      /*center shade*/ 21% 50%,
      /*first ecllipse shade*/ 33% 50%,
      /*first ecllipse shade*/ 18.5% 50%,
      /*second ellipse*/ 15% 50%,
      /*first left ellipse shade*/ 13% 50%,
      /*first ellipse*/ 35% 50%,
      /*fourth ellipse*/ 38% 50%,
      /*fifth */ 41% 50%; /*fifth ellipse*/
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 3rem;
    bottom: 0;
  }

  .pumpkin::before {
    width: 10rem;
    height: 10rem;
    content: "";
    background-image: radial-gradient(ellipse, green 50%, transparent 50.7%),
      linear-gradient(green, green), linear-gradient(green, green),
      radial-gradient(
        ellipse at bottom,
        transparent 0%,
        transparent 20%,
        green 20.5%,
        green 50.5%,
        transparent 50.5%
      ),
      radial-gradient(circle, green 50%, transparent 50.7%);

    background-size:
      7.5rem 2.5rem,
      /**stem base **/ 1rem 4rem,
      /*stalk*/ 1rem 4rem,
      /*stalk*/ 4.9rem 2.4rem,
      /*ring*/ 2rem 2rem /*ring*/;

    background-position:
      30% 100%,
      /**stem base **/ 45% 70%,
      /*stalk*/ 45% 70%,
      /*stalk*/ 17% 28%,
      /*ring*/ 16% 46% /*ring*/;

    background-repeat: no-repeat;
    position: absolute;
    top: 3rem;
    left: 8rem;
  }
</style>
