---
import CardLayout from "./cardLayout.astro";
---

<CardLayout title="Feast" hrefname="Feast">
  <div class="feast"></div>
</CardLayout>

<style>
  .feast {
    width: 100vmin;
    height: 100vmin;
    margin: 0 auto;
    position: relative;
  }

  .feast::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:
    

    
    
    /*basket*/
    
    
     /*line*/
      radial-gradient(
          ellipse at 100% 10%,
          transparent 47%,
          rgba(244, 164, 96, 0.2) 47%,
          rgba(244, 164, 96, 0.2) 50%,
          transparent 50.5%
        )
        25% 71.5% / 20vmin 25vmin,
      radial-gradient(
          ellipse at 90% 10%,
          transparent 47%,
          rgba(244, 164, 96, 0.2) 47%,
          rgba(244, 164, 96, 0.2) 50%,
          transparent 50.5%
        )
        32% 71.5% / 20vmin 20vmin,
      radial-gradient(
          ellipse at 90% 10%,
          transparent 47%,
          rgba(244, 164, 96, 0.2) 47%,
          rgba(244, 164, 96, 0.2) 50%,
          transparent 50.5%
        )
        39% 71.5% / 20vmin 15vmin,
      radial-gradient(
          ellipse at 10% 10%,
          transparent 40%,
          bisque 40%,
          bisque 50%,
          transparent 50.5%
        )
        66% 71% / 20vmin 30vmin,
      radial-gradient(
          ellipse at 10% 10%,
          transparent 40%,
          rgba(244, 164, 96, 0.2) 40%,
          rgba(244, 164, 96, 0.2) 50%,
          transparent 50.5%
        )
        69.6% 71% / 20vmin 30vmin,
      linear-gradient(rgba(244, 164, 96, 0.2), rgba(244, 164, 96, 0.2)) 30% 60% /
        15vmin 0.8vmin,
      linear-gradient(rgba(244, 164, 96, 0.2), rgba(244, 164, 96, 0.2)) 28% 56% /
        10vmin 0.8vmin,
      linear-gradient(rgba(244, 164, 96, 0.2), rgba(244, 164, 96, 0.2)) 31%
        64.5% / 12vmin 0.8vmin,
      linear-gradient(rgba(244, 164, 96, 0.2), rgba(244, 164, 96, 0.2)) 35%
        68.5% / 12vmin 0.8vmin,
      linear-gradient(rgba(244, 164, 96, 0.2), rgba(244, 164, 96, 0.2)) 61% 52% /
        20vmin 0.8vmin,
      /*basket skin*/ linear-gradient(bisque, bisque) 45% 64% / 21vmin 22.3vmin,
      radial-gradient(ellipse at 5% 10%, bisque 50%, transparent 50.5%) 70% 71% /
        20vmin 30vmin,
      radial-gradient(ellipse at 100% 10%, bisque 50%, transparent 50.5%) 20%
        71% / 20vmin 30vmin,
      /*pineapple*/ /*scales*/
        radial-gradient(
          ellipse at 10% 10%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        23% 47% / 5vmin 5vmin,
      radial-gradient(
          ellipse at 10% 10%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        26% 44% / 5vmin 5vmin,
      radial-gradient(
          ellipse at 10% 10%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        29% 41% / 5vmin 5vmin,
      radial-gradient(
          ellipse at 20% 20%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        25% 47% / 5vmin 5vmin,
      radial-gradient(
          ellipse at 20% 20%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        31.5% 41% / 4vmin 4vmin,
      radial-gradient(
          ellipse at 20% 20%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        28% 47% / 6vmin 6vmin,
      radial-gradient(
          ellipse at 20% 20%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        32% 50% / 6vmin 6vmin,
      radial-gradient(
          ellipse at 20% 20%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        32% 46.7% / 6vmin 6vmin,
      radial-gradient(
          ellipse at 20% 20%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        32.5% 43% / 6vmin 7vmin,
      radial-gradient(
          ellipse at 20% 20%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        32.5% 43% / 6vmin 7vmin,
      radial-gradient(
          ellipse at 20% 20%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        27.5% 51% / 6vmin 7vmin,
      radial-gradient(
          ellipse at 20% 20%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        36% 44% / 4vmin 5vmin,
      radial-gradient(
          ellipse at 20% 20%,
          transparent 35%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        25% 50% / 4vmin 5vmin,
      radial-gradient(
          ellipse at 20% 20%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        28.5% 44% / 5vmin 5vmin,
      radial-gradient(
          ellipse at 20% 20%,
          transparent 40%,
          darkorange 40%,
          darkorange 50%,
          transparent 50.5%
        )
        36.4% 47% / 7vmin 6vmin,
      /*                       radial-gradient(ellipse at 70% 10%, transparent 40%, red 40%, red 50%, transparent 50.5%) 31.9% 40.5% / 5vmin 4vmin, */
        /*pineapple skin*/
        radial-gradient(ellipse, orange 50%, transparent 50.5%) 24% 47% / 25vmin
        25vmin,
      /*pineapple stalk*/
        radial-gradient(
          ellipse at 0% 90%,
          transparent 30%,
          green 30%,
          green 50%,
          transparent 50.5%
        )
        18% 43% / 15vmin 5vmin,
      radial-gradient(
          ellipse at 90% 0%,
          transparent 30%,
          green 30%,
          green 50%,
          transparent 50.5%
        )
        12% 41.5% / 15vmin 5vmin,
      radial-gradient(
          ellipse at 100% 20%,
          transparent 30%,
          green 30%,
          green 50%,
          transparent 50.5%
        )
        14% 38.5% / 15vmin 10vmin,
      /*oranges*/ /*stalk*/
        radial-gradient(
          ellipse at 0% 20%,
          transparent 30%,
          green 30%,
          green 50%,
          transparent 50.5%
        )
        58.5% 40% / 5vmin 5vmin,
      radial-gradient(ellipse, orange 50%, transparent 50.5%) 56% 41% / 5vmin
        5vmin,
      /*orange*/
        radial-gradient(
          ellipse at 0% 20%,
          transparent 30%,
          green 30%,
          green 50%,
          transparent 50.5%
        )
        70.5% 40% / 5vmin 5vmin,
      radial-gradient(ellipse, orange 50%, transparent 50.5%) 68% 41% / 5vmin
        5vmin,
      radial-gradient(ellipse, gold 50%, transparent 50.5%) 54.5% 44% / 19vmin
        20vmin,
      radial-gradient(ellipse, orange 50%, transparent 50.5%) 55% 44% / 20vmin
        20vmin,
      radial-gradient(ellipse, gold 50%, transparent 50.5%) 68% 44% / 20vmin
        20vmin,
      /*banana bunch*/ /*stalk*/
        linear-gradient(70deg, saddlebrown 50%, transparent 50.5%) 40% 26% /
        6vmin 7vmin,
      radial-gradient(
          ellipse at 100% 0%,
          transparent 35%,
          yellowgreen 35%,
          yellowgreen 50%,
          transparent 50.5%
        )
        39.5% 51% / 18vmin 40vmin,
      radial-gradient(
          ellipse at 100% 0%,
          transparent 35%,
          olivedrab 35%,
          olivedrab 50%,
          transparent 50.5%
        )
        40% 51% / 20vmin 40vmin,
      /*bananas*/ /*stalk*/
        linear-gradient(40deg, saddlebrown 50%, transparent 50.5%) 44% 26% /
        6.5vmin 7vmin,
      /*banana*/
        radial-gradient(
          ellipse at 100% 0%,
          transparent 30%,
          yellowgreen 30%,
          yellowgreen 50%,
          transparent 50.5%
        )
        42.5% 52% / 19vmin 40vmin,
      radial-gradient(
          ellipse at 100% 0%,
          transparent 30%,
          olivedrab 30%,
          olivedrab 50%,
          transparent 50.5%
        )
        43% 52% / 20vmin 40vmin,
      radial-gradient(
          ellipse at 100% 0%,
          transparent 35%,
          yellowgreen 35%,
          yellowgreen 50%,
          transparent 50.5%
        )
        47% 51% / 20vmin 40vmin,
      /*Grapes**/ radial-gradient(ellipse, purple 50%, transparent 50%) 31% 30% /
        5vmin 5vmin,
      radial-gradient(ellipse, rebeccapurple 50%, transparent 50%) 32% 35% /
        5vmin 5vmin,
      radial-gradient(ellipse, purple 50%, transparent 50%) 33% 32% / 5vmin
        5vmin,
      radial-gradient(ellipse, mediumpurple 50%, transparent 50%) 24% 38% /
        5vmin 5vmin,
      radial-gradient(ellipse, mediumpurple 50%, transparent 50%) 30% 33% /
        5vmin 5vmin,
      radial-gradient(ellipse, rebeccapurple 50%, transparent 50%) 28% 35% /
        5vmin 5vmin,
      radial-gradient(ellipse, purple 50%, transparent 50%) 26% 37.5% / 5vmin
        5vmin,
      radial-gradient(ellipse, mediumpurple 50%, transparent 50%) 29% 37% /
        5vmin 5vmin,
      radial-gradient(ellipse, purple 50%, transparent 50%) 31% 37% / 5vmin
        5vmin,
      radial-gradient(ellipse, rebeccapurple 50%, transparent 50%) 31% 35% /
        5vmin 5vmin,
      radial-gradient(ellipse, mediumpurple 50%, transparent 50%) 34% 37% /
        5vmin 5vmin,
      radial-gradient(ellipse, rebeccapurple 50%, transparent 50%) 35% 34% /
        5vmin 5vmin,
      radial-gradient(ellipse, mediumpurple 50%, transparent 50%) 36% 36% /
        5vmin 5vmin,
      radial-gradient(ellipse, mediumpurple 50%, transparent 50%) 16% 71% /
        5vmin 5vmin,
      radial-gradient(ellipse, rebeccapurple 50%, transparent 50%) 24.5% 68% /
        5vmin 5vmin,
      radial-gradient(ellipse, purple 50%, transparent 50%) 23% 65% / 5vmin
        5vmin,
      radial-gradient(ellipse, mediumpurple 50%, transparent 50%) 21.5% 68% /
        5vmin 5vmin,
      radial-gradient(ellipse, purple 50%, transparent 50%) 20% 71% / 5vmin
        5vmin,
      radial-gradient(ellipse, mediumpurple 50%, transparent 50%) 23% 71% /
        5vmin 5vmin,
      radial-gradient(ellipse, purple 50%, transparent 50%) 26% 71% / 5vmin
        5vmin,
      radial-gradient(ellipse, purple 50%, transparent 50%) 28% 71% / 5vmin
        5vmin,
      radial-gradient(ellipse, rebeccapurple 50%, transparent 50%) 34% 43% /
        20vmin 20vmin,
      radial-gradient(ellipse, rebeccapurple 50%, transparent 50%) 36% 39% /
        5vmin 5vmin;
    background-repeat: no-repeat;
  }
</style>
