---
import CardLayout from "./cardLayout.astro";
---

<CardLayout title="Music" hrefname="">
  <section class="artcss">
    <div class="facetop">
      <div>
        <div class="brows">
          <div class="capfront_top"></div>
          <div class="capfront"></div>
          <div class="cap"></div>
          <div class="earpiece"></div>
          <div class="earpiece_bud"></div>
          <div class="earpiece_antenna"></div>
          <div class="beardcurve"></div>
          <div class="ribbons"></div>
          <div class="ribbonsleft"></div>
          <div class="eyebrows"></div>
          <div class="neck"></div>
          <div class="shirt"></div>
          <div class="beard"></div>
          <div class="hair"></div>
        </div>
      </div>
    </div>
  </section>
</CardLayout>
<div></div>

<style>
  .artcss {
    width: 100vmin;
    height: 80vmin;
    margin: 0vmin auto;
    position: relative;
    transform: scale(-1, 1);
  }

  .facetop {
    width: 100%;
    height: 100%;
    position: relative;
    animation: slownod 3s alternate infinite;
  }

  /*really don't know why i use pseudo class here, but you can always use another element*/
  .facetop::before {
    width: 100%;
    height: 100%;
    background:
/**eye liner shade ***/
      radial-gradient(ellipse at 80% 0%, bisque 50%, transparent 50.5%) 53.5% 20.4% / 8vmin 1.5vmin,
      /**eye liner shade ***/ radial-gradient(ellipse at 80% 0%, black 50%, transparent 50.5%) 54%
        21% / 6vmin 2vmin,
      /**beard ***/ radial-gradient(ellipse at 70% 0%, peru 50%, transparent 50.5%) 55% 30% / 9vmin
        4.5vmin,
      /**mouth ***/ radial-gradient(ellipse at 70% 0%, white 50%, transparent 50.5%) 57% 33% / 5vmin
        4.5vmin,
      /**nose shade ***/ linear-gradient(78deg, #d4bfa4 50%, transparent 50.5%) 60% 23% / 2vmin
        5vmin,
      /**nose ***/ linear-gradient(68deg, bisque 50%, transparent 50.5%) 61% 13% / 5vmin 14vmin,
      /**face shade ***/ radial-gradient(ellipse at right, bisque 50%, transparent 50.5%) 53.5% 10% /
        11vmin 25vmin,
      /**face shade ***/ radial-gradient(ellipse at right, #d4bfa4 50%, transparent 50.5%) 45% 10% /
        25vmin 35vmin,
      /**frontal hair**/ radial-gradient(ellipse at left, #a26a32 50%, transparent 0) 72% 14.3% /
        6.5vmin 3vmin,
      /*        radial-gradient(ellipse at left, peru 50%, transparent 0) 72% 14.5% / 6.5vmin 4.5vmin, */
        /**top hair**/
        radial-gradient(
          ellipse at 90% 0%,
          transparent 20%,
          #a26a32 20%,
          #a26a32 50%,
          transparent 50.5%
        )
        60% 13.4% / 20vmin 5vmin,
      radial-gradient(ellipse at top, transparent 20%, peru 20%, peru 50%, transparent 50.5%) 68%
        16% / 20vmin 4vmin,
      radial-gradient(ellipse at left, #a26a32 50%, transparent 0) 65% 18% / 10vmin 3vmin,
      radial-gradient(ellipse at left, peru 50%, transparent 0) 65% 18% / 10vmin 4.8vmin;
    background-repeat: no-repeat;
    position: absolute;
    top: 6vmin;
    left: 23vmin;
    content: "";
    z-index: -99;
    transform: rotate(-35deg);
  }

  .facetop::after {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    backgroun: radial-gradient(ellipse at 50% 0%, red 50%, 50.5%) 0 0 /
      conic-gradient(transparent 70deg, purple 70.5deg, purple 100deg, transparent 0) 50% 40% /
      10vmin 10vmin;
    background-repeat: no-repeat;
  }

  .cap {
    width: 28vmin;
    height: 14vmin;
    position: absolute;
    top: 14vmin;
    left: 34vmin;
    background:
      radial-gradient(ellipse at 90% 80%, #00bfff 50%, transparent 50.5%) 100% 0% / 14vmin 14vmin,
      linear-gradient(#0086b3, #0086b3);
    background-repeat: no-repeat;
    border-radius: 190px 140px 0px 0;
    z-index: -9;
    transform: rotate(-48deg);
  }

  .capfront {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: radial-gradient(ellipse, #006c91 50%, transparent 50.5%) 100% 40% / 60vmin 5vmin;
    background-repeat: no-repeat;
    z-index: -999;
    transform: rotate(-45deg);
  }

  .eyebrows {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0vmin;
    left: 32vmin;
    background:
      conic-gradient(transparent 80deg, peru 80deg, peru 100deg, transparent 0) 52.5% 14% / 10vmin
        5vmin,
      radial-gradient(ellipse at left, peru 50%, transparent 0) 58.2% 15.1% / 2vmin 2.5vmin;
    background-repeat: no-repeat;
    transform: rotate(-60deg);
  }

  .capfront_top {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: radial-gradient(ellipse at bottom, #0086b3 50%, transparent 50.5%) 100% 38% / 60vmin
      4vmin;
    background-repeat: no-repeat;
    z-index: 9991;
    transform: rotate(-45deg);
  }

  .earpiece {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:
      linear-gradient(red, red) 58.5% 27% / 6vmin 20vmin,
      radial-gradient(ellipse at bottom, red 50%, transparent 50.5%) 58.7% 18% / 8.5vmin 2.5vmin;
    background-repeat: no-repeat;
    z-index: 9999;
    transform: rotate(-45deg);
  }

  .earpiece_bud {
    width: 15vmin;
    height: 14vmin;
    position: absolute;
    border: 4px solid white;
    top: 25vmin;
    left: 45vmin;
    border-radius: 9999px;
    overflow: hidden;
    background: radial-gradient(
      ellipse,
      black 10%,
      black 85%,
      white 85%,
      white 90%,
      transparent 100%
    );

    background-repeat: no-repeat;
    z-index: 9999;
    transform: rotate(-45deg);
  }

  .earpiece_bud::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:

/*     radial-gradient(ellipse, black 10%, black 40%, white 40.5%, white 50%, transparent 50.5%) 58% 50% / 10vmin 10vmin, */ linear-gradient(
        transparent 10%,
        salmon 10%,
        salmon 20%,
        white 20%,
        white 30%,
        #00bfff 30.5%,
        #00bfff 50%,
        transparent 50.5%
      )
      10% 160% / 17vmin 12vmin;
    background-repeat: no-repeat;
    display: flex;
    justify-content: centers;
    border-radius: 50%;
    transform: rotate(10deg);
  }

  .earpiece_bud::after {
    content: "";
    position: absolute;
    top: 3.4vmin;
    left: 3.5vmin;
    width: 6vmin;
    height: 6vmin;
    background: repeating-linear-gradient(
        90deg,
        white 0% 5%,
        white 5% 10%,
        salmon 10% 30%,
        white 15% 40%,
        #00bfff 20% 50%
      )
      10% 20% / 6vmin 6vmin;
    background-repeat: no-repeat;
    display: flex;
    justify-content: centers;
    border-radius: 50%;
    border: 4px solid red;
    transform: rotate(10deg);
    z-index: 999999;
  }

  .earpiece_antenna {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:
      linear-gradient(#0086b3, #0086b3) 53.5% 47.6% / 2vmin 2.4vmin,
      linear-gradient(#0086b3, #0086b3) 53.5% 54.5% /1vmin 8vmin,
      radial-gradient(#0086b3 50%, transparent 49.5%) 53.5% 60% / 5vmin 5vmin,
      linear-gradient(white, white) 53.5% 56% /2.5vmin 8vmin,
      radial-gradient(white 50%, transparent 50.5%) 53.6% 60.3% / 7vmin 7vmin;
    background-repeat: no-repeat;
    z-index: 9999;
  }

  .beard {
    width: 18vmin;
    height: 13vmin;
    position: absolute;
    top: 32.5vmin;
    left: 57.5vmin;
    background:
      linear-gradient(#c3803d, #c3803d) 0 0 / 5vmin 10vmin,
      radial-gradient(ellipse at 0% 90%, #a26a32 50%, transparent 50.5%) 30% 110% / 5vmin 18vmin,
      radial-gradient(ellipse at 0% 100%, peru 50%, transparent 50.5%) 50% 110% / 6vmin 18vmin,
      radial-gradient(ellipse at 0% 100%, #a26a32 50%, transparent 50.5%) 80% 100% / 10vmin 20vmin,
      radial-gradient(ellipse at 0% 100%, #805428 50%, transparent 50.5%) 120% 100% / 10vmin 20vmin,
      linear-gradient(peru, peru);
    background-repeat: no-repeat;
    border-radius: 0px 0px 10px 150px;
    transform: rotate(-20deg);
  }

  .beardcurve {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at left, peru 10%, peru 40%, 50%, transparent 50.5%) 76.5%
      57.5% / 3vmin 18vmin;
    background-repeat: no-repeat;
    z-index: 9999;
    transform: rotate(-20deg);
  }

  .ribbons {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1;
    left: 10vmin;
    background: radial-gradient(
        ellipse at 80% 0%,
        transparent 30%,
        lightcoral 30.5%,
        lightcoral 35%,
        white 35.5%,
        white 40%,
        #00bfff 40%,
        #00bfff 50%,
        transparent 50.5%
      ) -30% 36.7% / 60vmin 18vmin;
    background-repeat: no-repeat;
    z-index:;
    transform: rotate(-20deg);
  }

  .ribbonsleft {
    position: absolute;
    top: 0;
    left: 0;
    background:
      radial-gradient(
          ellipse at 0% 100%,
          transparent 30%,
          #00bfff 30.5%,
          #00bfff 40%,
          white 40%,
          white 45%,
          salmon 45%,
          salmon 50%,
          transparent 50.5%
        ) -24.8% 30.7% / 50vmin 23vmin,
      /**had to add the headset handle shadow here due to stacking*/
        radial-gradient(ellipse at 0% 90%, black 50%, transparent 50.5%) 42.5% 18.5% / 5vmin 5vmin,
      radial-gradient(
          ellipse at 80% 10%,
          transparent 33%,
          salmon 33.5%,
          salmon 38%,
          white 38.5%,
          white 43%,
          #006c91 43%,
          #006c91 50%,
          transparent 50.5%
        )
        10% 0% / 60vmin 33vmin;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -99999999;
  }

  .neck {
    width: 20vmin;
    height: 30vmin;
    position: absolute;
    top: 35vmin;
    left: 50vmin;
    clip-path: polygon(
      1% 0%,
      4% 10%,
      6% 20%,
      7% 31%,
      8% 43%,
      8% 56%,
      7% 70%,
      4% 78%,
      4% 80%,
      99% 99%,
      93% 78%,
      91% 67%,
      90% 56%,
      90% 47%,
      91% 38%,
      93% 28%,
      95% 19%,
      97% 10%,
      99% 1%,
      99% 0%
    );
    background-color: bisque;
  }

  .neck::after {
    content: "";
    width: 8vmin;
    height: 30vmin;
    position: absolute;
    top: 0vmin;
    left: 0vmin;
    clip-path: polygon(
      1% 0%,
      4% 10%,
      6% 20%,
      7% 31%,
      8% 43%,
      8% 56%,
      7% 70%,
      4% 78%,
      4% 80%,
      99% 99%,
      93% 78%,
      91% 67%,
      90% 56%,
      90% 47%,
      91% 38%,
      93% 28%,
      95% 19%,
      97% 10%,
      99% 1%,
      99% 0%
    );
    background-color: #b3a089;
    z-index: 9999;
  }

  .shirt {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:
      linear-gradient(-45deg, darkred 50%, transparent 50.5%) 40% 100% / 30vmin 30vmin,
      linear-gradient(45deg, crimson 50%, transparent 50.5%) 88% 100% / 37vmin 30vmin;
    background-repeat: no-repeat;
    z-index: -999;
  }

  .shirt::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, crimson 50%, transparent 50.5%) 50% 100% / 30vmin 20vmin;
    /*     linear-gradient(45deg, darkred 50%, transparent 50.5%)  88% 100% / 37vmin 30vmin; */
    background-repeat: no-repeat;
    z-index: -999;
  }

  @keyframes slownod {
    to {
      transform: rotate(2deg);
      /* transition: transform 0.5s ease-in-out; */
    }
  }
</style>
