---
import Layout from "../layouts/Layout.astro";
---

<Layout title="projects">
  <section>
    <section>half section</section>
    <section>lap-section</section>
    <section>lap-section1</section>
    <section>lap-section2</section>
  </section>
</Layout>

<style></style>
