---

---

<nav>
  <div>
    <div>
      <p>A Single Div CSS art illustration by <a href="#">Olajide Seun</a></p>
    </div>
    <div>Socilas</div>
  </div>
</nav>

<style>
  nav > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 4vmin;
    border-bottom: 1px solid #c4c4c4;
  }
</style>
