---

---

<nav>
  <div>
    <div>
      <p>A single div css art by <i>Olajide Seun</i></p>
    </div>
    <div>
      <a href="https://github.com/shenkzjay/singleDivCss_Website">Github</a>
    </div>
  </div>
</nav>

<style>
  nav > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 4vmin;
    border-bottom: 1px solid #c4c4c4;
  }
</style>
